html,
body {
}

#export {
  width: 74%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  float: left;
}

#interaction {
  width: 25%;
  height: 1000px;
  float: left;
  background-color: #F5F5DC;
}

#header {
  width: 98%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: inline-block;
  text-align: center;
}

#customization {
  width: 100%;
  margin-top: 6%;
  margin-bottom: 0.5%;
  display: inline-block;
  font-size: 30px;
  text-align: center;
}

.title {
  width: 96%;
  margin-top: 6%;
  margin-bottom: 3%;
  margin-left: 4%;
  display: inline-block;
  font-size: 20px;
}

#skills {
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  display: inline-block;
}

#export_zone {
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  display: inline-block;
}

#name {
  width: 100%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  display: inline-block;
  font-size: 30px;
}

#headline {
  width: 100%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  display: inline-block;
  font-size: 20px;
}

#description {
  width: 70%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  display: inline-block;
  text-align: justify;
  text-justify: inter-word;
  font-size: 12px;
}

#contact {
  width: 100%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  display: inline-block;
  font-size: 12px;
}

#core {
  width: 98%;
  height: 500px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#contacts{
  width: 30%;
  height: 100%;
  float: left;
  background-color: none;
}

#timeline{
  width: 70%;
  height: 500px;
  float: left;
}

.text_box{
  width: 100%;
  float: top;
}

.title{
  width: 100%;
  float: top;
  font-size: 20px;
}

.subtitle{
  width: 100%;
  float: top;
  font-size: 10px;
}

#timeline_graph{
  width: 15%;
  height: 500px;
  float: left;
}

#timeline_text{
  width: 85%;
  height: 500px;
  float: left;
}

#footer {
  width: 98%;
  height: 200px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}
